<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php" colors="true" cacheResult="false">
    <testsuites>
        <testsuite name="TravelLabDomain">
            <directory>Feature</directory>
            <!-- Native board migrations require MySQL; run these via root guarded test runner. -->
            <exclude>Feature/TravelSupportApiTest.php</exclude>
            <exclude>Feature/TravelSupportNotificationTest.php</exclude>
            <exclude>Feature/TravelSupportProvisionerTest.php</exclude>
            <exclude>Feature/W03SupportHardeningTest.php</exclude>
        </testsuite>
    </testsuites>
    <php><ini name="memory_limit" value="512M"/></php>
</phpunit>
